<h1>PERIODIC ELEMENTS TABLE</h1>

@if (elements().length) {
<mat-table class="elements-table" [dataSource]="elements$">
  @for (column of TABLE_CONFIG; track column.name) {
  <ng-container [matColumnDef]="column.name">
    <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>
    <td mat-cell *matCellDef="let element">
      {{ element[column.modelProperty] }}
      <button matSuffix mat-icon-button aria-label="Edit" (click)="onEditClick(element, column.modelProperty)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="TABLE_COLUMNS"></tr>
  <tr mat-row *matRowDef="let row; columns: TABLE_COLUMNS"></tr>
</mat-table>

<mat-form-field>
  <mat-label>Filter by anything</mat-label>
  <input matInput type="text" [formControl]="filterCtrl" />
  @if (filteredValue()?.length) {
  <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearClick()">
    <mat-icon>close</mat-icon>
  </button>
  }
</mat-form-field>

} @else {
<mat-spinner class="loader"></mat-spinner>
}
