:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  &:has(.loader) {
    height: 100%;
  }
}

:host ::ng-deep {
  .elements-table {
    display: table !important;
    min-width: 90% !important;
    margin-top: 3em;
  }
}
